@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5>to the Store Management System</h5>
    <br/>
    <p>Select Products from the menu above to view all available products </p>
    <p>The products that you have recently viewed will be displayed in the Products History section </p>
    
</div>